/* Poppins */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: 'Poppins', sans-serif; */

/* Prompt */

@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
/* Lato */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
    --primary-color: #890880;
    --secondary-color: #d31cc6;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: whitesmoke;
    /*overflow-x: hidden;*/
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.goback {
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 999;
}

.goback a {
    text-decoration: none;
}

.goback a button {
    border: none;
    height: 50px;
    width: 100px;
    background-color: black;
    color: var(--primary-color);
    transition: 500ms ease-out;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.goback a button img {
    z-index: 1000;
    height: 20px;
    width: auto;
    transition: 1s linear;
}

.goback a button:hover {
    box-shadow: inset 150px 0 0 0 var(--primary-color);
    /* color:white; */
    width: 150px;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

.container section {
    scroll-snap-align: start;
}

.container .header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .header svg {
    position: absolute;
}

.container .header .headertitle {
    /* overflow: hidden; */
    /* margin-top: 5%; */
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

.container .header .maintitle {
    text-transform: uppercase;
    font-size: 100px;
    padding: 2px;
    /* color: rgb(39, 39, 39); */
    color: black;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
    cursor: default;
    position: relative;
    transform-origin: center;
}

.container .header .maintitle:hover {
    font-size: 120px;
    color: var(--primary-color);
}

.container .header .maintitle:focus {
    font-size: 120px;
    color: var(--primary-color);
}

.container .certheader {
    color: rgba(66, 66, 66, 0.61);
    width: 100%;
    /* background-color: whitesmoke; */
    text-align: center;
    padding: 10px 0px;
    position: relative;
}

.container button.scrollDown {
    height: 50px;
    width: 150px;
    /* border:2px solid rgb(36, 36, 36); */
    border: 2px solid var(--primary-color);
    background-color: transparent;
    font-family: "Prompt";
    color: var(--primary-color);
    position: relative;
    margin-top: 20%;
    transition: 700ms ease-in;
    z-index: 1;
}

.container button.scrollDown::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* background-color: rgb(36, 36, 36); */
    background-color: var(--primary-color);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 200ms linear;
}

.container button.scrollDown:hover::after {
    transform: scaleY(1);
}

.container button.scrollDown:hover {
    color: white;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.downloadbtnitvedant {
    height: 50px;
    width: 200px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    position: relative;
    z-index: 1;
    transition: 500ms linear;
}

.downloadbtnitvedant::before {
    content: "";
    background-color: rgb(61, 61, 61);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-bottom: 5px solid greenyellow;
    transform: scaleX(0);
    transform-origin: left;
    transition: 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.downloadbtnitvedant:hover::before {
    transform: scaleX(1);
}

.maincontainer2 .right {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.imgcontainer {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textcontainer {
    margin: 0px 5%;
    height: 100%;
    display: flex;
    /* overflow:hidden; */
    justify-content: center;
    align-items: center;
}

.textcontainer .p {
    margin: 10px 0px;
}

.textcontainer .p1 {
    margin: 10px 0px;
}

.textcontainer h1 {
    color: rgb(34, 34, 34);
    text-transform: uppercase;
}

.textcontainer h3 {
    color: gray;
    text-transform: uppercase;
}

.textcontainer p {
    width: 100%;
}

.cerimage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cerimage img {
    height: 500px;
    width: auto;
    position: relative;
}

.pcontrev {
    text-align: right;
    position: relative;
}

.pcont,
.pcontrev {
    max-width: 300px;
}

.pcont p,
.pcontrev p {
    font-size: 14px;
    color: gray
}

@media (max-width: 1200px) {
    /* .cerimage img{
        height:400px;
    } */
    .imgcontainer {
        width: 70%;
    }
    .textcontainer {
        margin: 0px 2%;
    }
}

@media (max-width: 1100px) {
    .cerimage img {
        height: 450px;
    }
}

@media (max-width: 1000px) {
    .container .header .maintitle {
        font-size: 80px;
    }
    .container .header .maintitle:hover {
        font-size: 100px;
    }
    .container .certheader h1 {
        font-size: 20px;
    }
    .cerimage img {
        height: 430px;
    }
    .textcontainer h1 {
        font-size: 20px;
    }
    .textcontainer h3 {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .cerimage img {
        height: 400px;
    }
    .textcontainer h1 {
        font-size: 18px;
    }
    .textcontainer h3 {
        font-size: 16px;
    }
    /*.downloadbtnitvedant {*/
    /*    height: 40px;*/
    /*    width: 150px;*/
    /*    font-size: 12px;*/
    /*}*/
}

@media (max-width: 800px) {
    .container .header .headertitle {
        height: 10%;
    }
    .container .header .maintitle {
        font-size: 60px;
    }
    .container .header .maintitle:hover {
        font-size: 70px;
    }
    .container .certheader h1 {
        font-size: 20px;
    }
    .maincontainer1 {
        flex-direction: column-reverse;
    }
    .maincontainer2 {
        flex-direction: column;
    }
    .textcontainer {
        height: 25%;
        width: 80%;
    }
    .imgcontainer {
        height: 75%;
        width: 100%;
    }
    .textcontainer .pcontrev,
    .pcont {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: start;
    }
}

@media (max-width: 600px) {
    .container .header .maintitle {
        font-size: 50px;
    }
    .container .header .maintitle:hover {
        font-size: 60px;
    }
    .container .certheader h1 {
        font-size: 20px;
    }
    .container button.scrollDown {
        height: 40px;
        width: 130px;
    }
    .goback a button {
        width: 50px;
    }
    .goback a button::after {
        display: none;
    }
}

@media (max-width: 550px) {
    .cerimage img {
        height: 350px;
    }
    .imgcontainer {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .container .header .maintitle {
        font-size: 40px;
        padding: 0;
    }
    .container .header .maintitle:hover {
        font-size: 50px;
    }
    .container .certheader h1 {
        font-size: 18px;
    }
    .container button.scrollDown {
        height: 40px;
        width: 130px;
        font-size: 0.8em;
    }
    /* Certificate images and contents */
    .cerimage img {
        height: 300px;
    }
    .textcontainer h1 {
        font-size: 22px;
    }
    .textcontainer h3 {
        font-size: 18px;
    }
    /*.downloadbtnitvedant {*/
    /*    height: 30px;*/
    /*    width: 120px;*/
    /*    font-size: 10px;*/
    /*}*/
    .textcontainer .pcontrev,
    .pcont {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .container .header .maintitle {
        font-size: 35px;
        padding: 0;
    }
    .container .header .maintitle:hover {
        font-size: 40px;
    }
    .container .certheader {
        width: 50%;
    }
    .container .certheader h1 {
        font-size: 16px;
    }
    .goback a button {
        width: 40px;
        height: 40px;
    }
    .goback a button img {
        height: 15px;
    }
    /* Certificate images and contents */
    .cerimage img {
        height: 270px;
    }
    /*.textcontainer h1 {*/
    /*    font-size: 16px;*/
    /*}*/
    /*.textcontainer h3 {*/
    /*    font-size: 14px;*/
    /*}*/
    /*.downloadbtnitvedant {*/
    /*    height: 30px;*/
    /*    width: 120px;*/
    /*    font-size: 10px;*/
    /*}*/
}

/*IF it is Mobile device*/

@media (pointer: none),
(pointer:coarse) {
    .container {
        scroll-snap-type: none;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        scroll-behavior: smooth;
    }
    body {
        overflow: scroll;
    }
    .maincontainer {
        height: auto;
        margin-bottom: 20%;
    }
}
